body,html{
    height: 100%;
}

body{
    display:flex;
    flex-wrap: wrap;
    position: relative;
}

#navbar-full, .footer,.cardy{
    flex:1 100%;
}

.main{
    padding-top: 8rem;
}

.footer .container{
    margin-bottom: 20px;
}

.navbar .navbar-transparent .navbar-fixed-top{
    height: 4rem;
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        height: 8rem !important;
        width: inherit;
    }
    .nav-search-input{
        margin-top: 2rem;
    }
}

h1.card {
    box-shadow: 0 8px 16px 0 rgba(7, 204, 155, 0.575);
    transition: 0.3s;
    text-align: center;
    width: fit-content;
    font-size: 9rem;
    font-family:garamond;
    border-radius: 5px;
    padding: 3rem 7rem;
    display: flex;
    margin: 4rem auto;
    color: black;
    background-color: aliceblue;
}
